[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/111111/.apps/archs/hotkeys.sh
GenericName[en_US]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[en_US]=hotkeys.sh
Name=hotkeys.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=
