[Unit]
Description=swhkd hotkey daemon
BindsTo=default.target

[Service]
Type=simple
#ExecStart=USERPATH/hotkeys.sh

[Install]
WantedBy=default.target
